extends base  

block content
    form(method="POST")
        if errorMessage
            span=errorMessage
        input(type="password",placeholder="Old Password", name="old")
        input(type="password",placeholder="New Password",name="new1")
        input(type="password",placeholder="New Password Confirmation",name="new2")
        input(type="submit", value="Change Password")