extends base

block content 
    img(src="/" + loggedInUser.avatarUrl)
    form(method="POST", enctype="multipart/form-data")
        label(for="avatar") Avatar 
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(placeholder="name",type="text", name="name", required, value=loggedInUser.name)
        input(placeholder="email",type="email", name="email", required, value=loggedInUser.email)
        input(placeholder="username",type="text", name="username", required, value=loggedInUser.username)
        input(placeholder="location",type="text", name="location", required, value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        hr
        a(href="change-password") Change Password